In [24]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pymongo
import pandas as pd

In [25]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=True)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\vinoy\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

### Nasa Mars News

In [26]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [27]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [28]:

news_title = soup.find_all('div',class_='content_title')[0].text
news_title

'NASA to Reveal Name of Its Next Mars Rover'

In [29]:
news_p = soup.find_all('div', class_='article_teaser_body')[0].text
news_p

"After a months-long contest among students to name NASA's newest Mars rover, the agency will reveal the winning name — and the winning student — this Thursday. "

### JPL mars Space Images - Featured Image

In [30]:
jpl_url = 'https://spaceimages-mars.com/'
browser.visit(jpl_url)
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [31]:
result = soup.find('div',class_='floating_text_area')
result

<div class="floating_text_area">
<h2 class="brand_title">FEATURED IMAGE</h2>
<h1 class="media_feature_title">Dusty Space Cloud</h1>
<br/>
<a class="showimg fancybox-thumbs" href="image/featured/mars1.jpg" target="_blank"> <button class="btn btn-outline-light"> FULL IMAGE</button></a>
</div>

In [32]:
link = result.find('a')['href']
link
featured_image = jpl_url + link
featured_image

'https://spaceimages-mars.com/image/featured/mars1.jpg'

### Mars Fact

In [33]:
mars_url = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(mars_url)
mars = tables[0]
mars

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [34]:
mars = mars.rename(columns={0:"", 1: 'Mars', 2:'Earth'})
mars.set_index("",inplace=True)
mars.drop(labels=["Mars - Earth Comparison"], axis=0,inplace=True)
mars

                               Mars            Earth

Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [35]:
html_table = mars.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [49]:
html_string = html_table.replace('\n', '')
test = html_string.replace('dataframe','table table-striped')
test

'<table border="1" class="table table-striped">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

### Mars Hemisphere

In [37]:
hems_url = 'https://marshemispheres.com/'
browser.visit(hems_url)
#html = browser.html
# Parse HTML with Beautiful Soup
#soup = BeautifulSoup(html, 'html.parser')

In [38]:
# get the name of the hemisphere, act 8 - day 2 - 
#click name---get full image link
#either create henisphere title or split

In [39]:
header = []
link = []

for x in range(4):
# HTML object
    html = browser.html
    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')
    # Retrieve all elements that contain book information
    result = soup.find_all('div',class_='description')[x]
    print(result)
    print('---------')
    title = result.find('h3').text
    header.append(title)
    print(title)
    print('---------')
    href = result.find('a')['href']
    link.append(href)
    print(href)
    print('---------')

<div class="description">
<a class="itemLink product-item" href="cerberus.html">
<h3>Cerberus Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p>
</div>
---------
Cerberus Hemisphere Enhanced
---------
cerberus.html
---------
<div class="description">
<a class="itemLink product-item" href="schiaparelli.html">
<h3>Schiaparelli Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p>
</div>
---------
Schiaparelli Hemisphere Enhanced
---------
schiaparelli.html
---------
<div class="description">
<a class="itemLink product-item" href="syrtis.html">
<h3>Syrtis Major Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p>
</div>
---------
Syrtis Major Hemisphere Enhanced
---------
syrtis.html
---------
<div class="description">
<a class="itemLink product-item" href="valles.html">
<h3>Valles Marineris Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p>
</div>
---------
Valles Marineris Hemisphere Enhanced
---------
valles.html
---------

In [40]:
header

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

for item in result:
        title = result.find('h3').text
        header.append(title)
        print(title)
        print('---------')
        browser.links.find_by_partial_text(title).click()  
        results2 = soup.find('div', class_="downloads")
        print(results2)
        print('---------')

In [41]:
link

['cerberus.html', 'schiaparelli.html', 'syrtis.html', 'valles.html']

In [42]:
full_image = []
for x in link:
    image_link = hems_url + x
    print(image_link)
    browser.visit(image_link)
    html = browser.html
    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')
    result = soup.find_all('div',class_='downloads')
    print(result)
    print('---------')
    
    for image in result:
        
        li =  image.find('li')
        print('---------')
        link2 = li.find('a')['href']
        print(link2)
        full_image.append(link2)

print(full_image)

image_url = []
for url in full_image:
    full_link = hems_url + url
    image_url.append(full_link)

https://marshemispheres.com/cerberus.html
[<div class="downloads">
<img class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/>
<h3>Download</h3>
<ul>
<li><a href="images/full.jpg" target="_blank">Sample</a> (jpg) 1024px wide</li>
<li><a href="images/cerberus_enhanced.tif" target="_blank">Original</a> (tif<span class="tooltip word-tif" title=""></span>) 21 MB</li>
</ul>
</div>]
---------
---------
images/full.jpg
https://marshemispheres.com/schiaparelli.html
[<div class="downloads">
<img class="thumb" src="images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/>
<h3>Download</h3>
<ul>
<li><a href="images/schiaparelli_enhanced-full.jpg" target="_blank">Sample</a> (jpg) 1024px wide
                    </li>
<li><a href="images/schiaparelli_enhanced.tif" target="_blank">Original</a> (tif<span class="tooltip word-tif" title=""></span>) 35 MB</li>
</ul>
</div>]
---------
---------
images/schiaparelli_enhanced-full.jpg
https://marshemispheres.com/syrtis.html
[<div class="downloads">
<img class="thumb" src="images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/>
<h3>Download</h3>
<ul>
<li><a href="images/syrtis_major_enhanced-full.jpg" target="_blank">Sample</a> (jpg) 1024px wide
                    </li>
<li><a href="images/syrtis_major_enhanced.tif" target="_blank">Original</a> (tif<span class="tooltip word-tif" title=""></span>) 25 MB</li>
</ul>
</div>]
---------
---------
images/syrtis_major_enhanced-full.jpg
https://marshemispheres.com/valles.html
[<div class="downloads">
<img class="thumb" src="images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/>
<h3>Download</h3>
<ul>
<li><a href="images/valles_marineris_enhanced-full.jpg" target="_blank">Sample</a> (jpg) 1024px wide
                    </li>
<li><a href="images/valles_marineris_enhanced.tif" target="_blank">Original</a> (tif<span class="tooltip word-tif" title=""></span>) 27 MB</li>
</ul>
</div>]
---------
---------
images/valles_marineris_enhanced-full.jpg
['images/full.jpg', 'images/schiaparelli_enhanced-full.jpg', 'images/syrtis_major_enhanced-full.jpg', 'images/valles_marineris_enhanced-full.jpg']

In [43]:
print(image_url)

['https://marshemispheres.com/images/full.jpg', 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg', 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg', 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg']

hemisphere_image = dict(zip(header, image_url))
hemisphere_image

hemisphere_image_urls={
    "title":header,
    "image_url":image_url,}
hemisphere_image_urls

In [44]:
hemisphere_image_urls = []

for i in range(4):
    hemisphere_image_urls.append({'title':header[i],'image_url':image_url[i]})

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [45]:
browser.quit()